* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(20, 20, 20);
    margin: 0;
    padding: 0;
}


/* HEADER */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

header div {
    max-width: 150px;
}

header div img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}


/* NAV */

nav {
    padding: 0 30px;
}

hr {
    background-color: gray;
}

nav div#links {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
}

nav div#links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}


/* SECTION */

section {
    margin-top: 30px;
}

section div {
    width: 100%;
    height: auto;
}

section div img {
    width: 100%;
    height: auto;
}


/* ARTICLE */

article {
    padding: 30px;
}


/* ARTICLE SOBRE */

article div#sobreNos div#title {
    display: flex;
    color: white;
    font-weight: bold;
}

article div#sobreNos div#title div {
    flex: auto;
    align-self: flex-end;
    margin-left: 20px;
    padding-bottom: 10px;
}

article div#sobreNos div#sobre {
    display: flex;
    margin: 20px 0;
}

article div#sobreNos div#sobre div#sobreContent {
    display: grid;
    padding: 30px;
    align-items: center;
    grid-template-columns: 30% 70%;
    color: white;
}

article div#sobre div#sobreContent div#sobreImg {
    max-width: 400px;
    margin-right: 100px;
}

article div#sobre div#sobreContent div#sobreImg img {
    border-radius: 15px;
    width: 100%;
    height: auto;
}

article div#sobre div#sobreContent div#sobreText {
    display: grid;
}

article div#sobre div#sobreContent div#sobreText a {
    margin-top: 60px;
    text-align: center;
}


/* ARTICLE MECANICA */

article div#mecanica div#title {
    display: flex;
    color: white;
    font-weight: bold;
}

article div#mecanica div#title div {
    flex: auto;
    align-self: flex-end;
    margin-right: 20px;
    padding-bottom: 10px;
}

article div#mecanica div#servicos {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: space-evenly;
    color: white;
    margin: 20px 0 40px 0;
}

article div#mecanica div#servicos ul div#ulTitle {
    display: flex;
    max-width: 30px;
    align-items: center;
    margin: 20px 0;
}

article div#mecanica div#servicos ul div#ulTitle img {
    width: 100%;
    height: auto;
    margin-right: 10px;
    color: yellow;
}

article div#mecanica div#servicos ul li {
    color: rgb(150, 150, 150);
}

article div#mecanica div#button {
    text-align: center;
    margin-bottom: 60px;
}


/* ARTICLE FUNILARIA */

article div#funilaria div#title {
    display: flex;
    color: white;
    font-weight: bold;
}

article div#funilaria div#title div {
    flex: auto;
    align-self: flex-end;
    margin-left: 20px;
    padding-bottom: 10px;
}

article div#funilaria div#contFunilaria {
    display: grid;
    grid-template-columns: 50% 40%;
    padding: 0 60px;
    justify-content: space-around;
    align-items: center;
    color: white;
    margin: 50px 0 30px 0;
}

article div#funilaria div#contFunilaria div#imgFunilaria img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

article div#funilaria div#contFunilaria div#textFunilaria {
    display: grid;
}

article div#funilaria div#contFunilaria div#textFunilaria a {
    margin-top: 30px;
    text-align: center;
}


/* ARTICLE CONTATO */

article div#contato div#title {
    display: flex;
    color: white;
    font-weight: bold;
}

article div#contato div#title div {
    flex: auto;
    align-self: flex-end;
    margin-right: 20px;
    padding-bottom: 10px;
}

article div#contato div#maps {
    padding: 60px;
}

article div#contato div#listaContatos {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    justify-content: space-evenly;
    color: white;
    margin: 10px 0 60px 0;
}

article div#contato div#listaContatos ul li {
    list-style: none;
    color: rgb(167, 167, 167);
    margin-top: 10px;
}

article div#contato div#listaContatos ul div#ulTitle {
    display: flex;
    max-height: 30px;
    align-items: center;
    margin-bottom: 20px;
}

article div#contato div#listaContatos ul div#ulTitle img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

article div#contato div#listaContatos ul div#midias img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}


/* FOOTER */

footer {
    padding: 60px 0;
}

footer div#copy {
    text-align: center;
    color: rgb(97, 97, 97);
    background-color: lightgray;
    display: grid;
    grid-template-columns: 55% 45%;
}

footer div#copy span {
    align-self: center;
    text-align: end;
}

footer div#footerLogo img {
    max-width: 150px;
    border-radius: 50%;
    margin: -30px;
}